:root {
  --clr-neutral-50: #fafafa;
  --clr-neutral-100: #f5f5f5;
  --clr-neutral-200: #e5e5e5;
  --clr-neutral-300: #d4d4d4;
  --clr-neutral-400: #a3a3a3;
  --clr-neutral-500: #737373;
  --clr-neutral-600: #525252;
  --clr-neutral-700: #404040;
  --clr-neutral-800: #262626;
  --clr-neutral-900: #171717;
  --clr-neutral-950: #0a0a0a;
  --clr-yellow-50: #fefce8;
  --clr-yellow-100: #fef9c3;
  --clr-yellow-200: #fef08a;
  --clr-yellow-300: #fde047;
  --clr-yellow-400: #facc15;
  --clr-yellow-500: #eab308;
  --clr-yellow-600: #ca8a04;
  --clr-yellow-700: #a16207;
  --clr-yellow-800: #854d0e;
  --clr-yellow-900: #713f12;
  --clr-yellow-950: #422006;
  --clr-red-500: #ef4444;
  --ff-base: 'Inter', sans-serif;
}

/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styling */

body {
  font-family: var(--ff-base);
  font-weight: 500;
  color: var(--clr-neutral-800);
  /* center direct childs */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

::selection {
  background-color: var(--clr-yellow-200);
}

/* utilities */

.center-inline {
  display: flex;
  justify-content: center;
}

.clr-800 {
  color: var(--clr-neutral-800);
}

.grid {
  display: grid;
  justify-items: center;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

/* components */

.btn {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 0.6rem 5rem;
  border-radius: 8px;
}

.btn--primary {
  background-color: var(--clr-yellow-300);
  color: var(--clr-neutral-700);
}

.btn--primary:hover {
  background-color: var(--clr-yellow-400);
}

/* app styles */

header {
  margin-bottom: 2rem;
}

.date-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px dashed var(--clr-yellow-500);
  padding: 1.5rem 2rem;
  border-radius: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  background-color: inherit;
  border: 1px dashed var(--clr-neutral-400);
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
}

select#day-picker,
select#year-picker {
  text-align: center;
}

.time-picker {
  outline: 0;
  border: 0;
  background-color: inherit;
  border: 1px dashed var(--clr-neutral-400);
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  margin-bottom: 0.6rem;
  cursor: pointer;
  text-align: center;
}

.data-wrapper {
  margin-top: 1rem;
  border: 1px dashed var(--clr-neutral-400);
  border-radius: 10px;
  padding: 1rem 1rem;
  color: var(--clr-neutral-500);
  display: grid;
  row-gap: 1rem;
  display: none;
}

.date p,
.time p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: .2rem;
}

.age-time {
  display: flex;
  justify-content: center;
  column-gap: 0.2rem;
}
